<h1>AUTOSCALER_CONFIG = <%= ENV['AUTOSCALER_CONFIG'] %></h1>

<%= form_for :job, :url => jobs_path do |f| %>
  <%= f.submit 'default', :name => 'queue' %>
  <% if ENV['AUTOSCALER_CONFIG'] == 'complex' %>
    <%= f.submit 'import', :name => 'queue' %>
  <% end %>
<% end %>

<ul>
<% logs.each do |line| %>
  <li><code><%= line %></code></li>
<% end %>
</ul>
